/* globales */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Colores */
$color-primario: #8841DA;
$color-secundario: #3f579A;
$color-oscuro: #333333;
$color-gris: #aeadad;
$color-text-btn: #fff;

/* Fuentes */
$fuente-ppal: "Oswald", sans-serif;
$fuente-sec: "Lato", sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin estilos-texto($color: #70eb0c, $tamaño-letra: 5px, $fuente-letra: "Arial") {
    font-family: $fuente-letra;
    color: $color;
    font-size: $tamaño-letra;
    text-transform: uppercase;
    text-align: center;
}

/*Perfil*/

main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.perfil{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px 20px 50px;

    &__avatar {
        width: 70px;
        border-radius: 20px;
        margin-bottom: 12px;
    }

    &__nombre {
        @include estilos-texto($color-primario, 17px, $fuente-ppal);
        margin-bottom: 6px
    }

    &__titulo {
        @include estilos-texto($color-secundario, 13px, $fuente-ppal);
        margin-bottom: 30px;
    }

    &__boton {
        background-color: $color-oscuro;
        border-radius: 20px;
        padding: 8px 30px;
        color: $color-text-btn;
        text-decoration: none;
        text-transform: uppercase;
        font: {
        family:$fuente-ppal;
        size: 14px;
        weight: bold;
        style: normal;
        }
    }

    /* Estadisticas */
    &--estadistica{
        width: 60%; 
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: -2px 10px 26px -3px rgba(0, 0, 0, 0.75);
        border-radius: 20px;
        margin: 25px 0;
    }

    /* Ubicacion */
        &__ubicacion {
            @extend .perfil--estadistica;
            display: grid;
            grid-template-columns: 2fr 8fr;
            padding: 0 30px;
            margin: -8px;
        
            i {
            grid-row: 1 / 3;
            font-size: 35px;
            color: $color-secundario;
            }
        
            h2 {
            @extend .perfil__nombre;
            text-transform: uppercase;
            font-size: 18px;
            text-align: left !important;
            }
        
            h3 {
            @extend .perfil__titulo;
            font-size: 12px;
            font-weight: 500;
            color: $color-gris;
            text-align: left;
            }
        }
}
      
/* Estadistica elementos */
.estadistica__elemento {
  width: 50px;
  &--numero {
    font-family:$fuente-ppal;
    text-align: center;
  }

  span{
    @extend .perfil__titulo;
    font-weight: 500;
    color: $color-gris;
    text-align: center;
    letter-spacing: 0px;
  }
}

/* Acerca de mi */
.perfil__bio {
  h2 {
    @extend .perfil__nombre;
  }

  h3 {
    @extend .perfil__titulo;
  }
}

/* Galeria */
.perfil--galeria {
  @extend .perfil--estadistica;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 10px;
  margin: 60px 0;
   ;
  h2 {
    @extend .perfil__nombre;
    text-transform: uppercase;
    text-align: left !important;
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.galeria__fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px 9px;
}

.galeria__foto {
  border-radius: 8px;
  width: 50%;
  height: 50%;
  object-fit: fill;
}

.galeria__foto--1 {
  grid-row: span 2;
  grid-column: span 3;
}
.galeria__foto--2 {
  grid-row: 3;
  grid-column: 1 / 3;
}
.galeria__foto--4 {
  grid-column: 2;
}

/* articulo */
.articulos {
  width: 45%;
  background-color: $color-oscuro;
  padding-bottom: 50px;
}

.datos__articulo {
  padding: 50px 0 0 50px;
  position: relative;

  h2 {
    @include estilos-texto($color-primario, 14px, $fuente-ppal);
    text-align: left;
  }

  h3 {
    @include estilos-texto($color-text-btn, 18px, $fuente-ppal);
    text-align: left;
    padding-bottom: 10px;
  }

  p {
    @include estilos-texto($color-text-btn, 14px, $fuente-ppal);
    text-transform: none;
    text-align: left;
    font-weight: 100;
    width: 70%;
    padding-bottom: 20px;
  }
/*linea de separacion*/
  &::after {
    content: "";
    display: block;
    width: 100%; 
    border-bottom: 3px solid $color-primario;
  }
}

/* Responsive */
@media (min-width: 600px) and (max-width: 899px) {
  main {
    margin: auto;
  }
  .perfil--estadisticas {
    width: 60%;
  }
  .datos__articulo {
    padding: 40px 0 0 40px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  main {
    margin: auto;
  }
  .perfil--estadisticas {
    width: 60%;
  }
  .perfil--galeria{
    flex-direction: column;
    align-items: normal;
  }
  .datos__articulo {
    padding: 50px 0 0 70px;
  }
}


@media (min-width: 1200px) {
  main {
    flex-direction: row;
  }
  .perfil {
    width: 60%;
    &__avatar {
      border-radius: 20px;
    }
    &--estadisticas {
      width: 60%;
    }
  }
  .perfil__ubicacion {
    padding: 0 50px;
    i {
      align-self: center;
      justify-self: center;
    }
  }
  .perfil--galeria{
    align-items: normal;
    h2 {
      font-size: 20px;
    }
  }
  .galeria__fotos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .galeria__foto--1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }
  .galeria__foto--2 {
    grid-row: 1;
    grid-column: 3 / 5;
  }
  .galeria__foto--4 {
    grid-row: 2;
    grid-column: 4;
  }
  .articulos {
    width: 40%;
  }
  .datos__articulo {
    padding: 50px 0 0 70px;
  }
}